* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    color: rgb(4, 5, 4);
    font-weight: 600;
    font-size: 5rem;
    opacity: 0.8;
  }
  h2 {
    color: rgb(4, 5, 4);
    font-weight: 600;
    opacity: 0.8;
  }
  
  h3 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    opacity: 0.8;
  }
  main{
    font-family: "poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top,rgb(245, 197, 197), red);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass {
   
    background: rgb(235, 61, 61);
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to left bottom, rgba(241, 42, 42, 0.7), rgb(252, 4, 4, 0.3));
    border-radius: 2rem;
    z-index:3;
    display: flex;
    backdrop-filter: blur (5rem);
  }

  .circle1, .circle2{
    background: rgb(252, 250, 250);
    background: linear-gradient(to left bottom, rgba(252, 252, 252, 0.7), rgba(230, 74, 74, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }

  .circle1{
    top: 5%;
    left: 15%;
  }

  .circle2{
    bottom: 1%;
    right: 10%;
  }
  
  .dashboard{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(241, 42, 42, 0.7), rgb(173, 4, 252));
    border-radius: 2rem;
    z-index: 1;

  }
 
  .link{
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;

 }

  .link h2{
    padding: 0rem 2rem;
  }

  .languages, h2, p{
    flex: 2;
    color: rgb(0, 0, 0);
  }

  .pro{
    background: linear-gradient(to right bottom, rgba(235, 235, 235, 0.7), rgb(252, 4, 4, 0.3));
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    opacity: 0.8;
    padding: 1rem;
    position: relative;
  }

.pro img{

  top: -10%;
  right: 10%;
}
.pro h2{
  width: 40%;
  color: rgb(4, 5, 4);
    font-weight: 600;
    opacity: 0.8;


}

.status{
  margin-bottom: 3rem;
}
/*Langauges*/
.status {
  margin-bottom: 3rem;
}
.status input {
  background: linear-gradient(to right bottom, rgba(248, 248, 248, 0.7), rgb(255, 120, 120));
  padding: 0.5rem ;
  border-radius: 2rem;

}

.Language {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  background: linear-gradient(rgb(245, 242, 242, 0.2), rgb(236, 190, 190, 0.5));
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
  justify-content: space-between;
}

.progress{
  background: linear-gradient(to right top, red, red);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.progress::after{
  content:"" ;
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  left: 80%;
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
